        <h1 class="title">Enlaces para las claces virtuales</h1>
<p class="subtitle">
  Si necesitas ingresar a alguna reunión, solo debes escoger tu materia y presionar sobre esta.
  <a class="highlight-link" href="" target="_blank" rel="noreferrer">
    TryHackMe
  </a>.
</p>

<div class="timeline-wrapper">
  <ul class="timeline">

        <li>
          <div class="direction-r">
            <div class="flag-wrapper">
              <span class="hexagon"></span>
              <span class="flag neumorphism-button aos-init aos-animate" data-aos="zoom-in-left">
                <a target="_blank" rel="noreferrer">
                  <span>Lunes</span>
                </a>
            </span></div>
            <div class="desc neumorphism-card aos-init aos-animate" data-aos="zoom-in-left">
              100% C4p4c!ty
                <div class="tag-wrapper">
                    <a class="tag neumorphism-card aos-init aos-animate" data-aos="zoom-in-right" href="https://us04web.zoom.us/j/2128085368?pwd=YWx4bzV3RUI5Ykcyb2w1WkpXRDFwZz09" target="_blank" rel="noreferrer">Lenguaje</a>
                    <a class="tag neumorphism-card aos-init aos-animate" data-aos="zoom-in-right" href="https://us04web.zoom.us/j/71958521710?pwd=7MkSK_g-C_FJoKMb_GmlVaUl9QmZgP.1" target="_blank" rel="noreferrer">Música</a>
                    <a class="tag neumorphism-card aos-init aos-animate" data-aos="zoom-in-right" href="https://ldyan3r.github.io/meeting_links/404" target="_blank" rel="noreferrer">Inglés</a>
                    <a class="tag neumorphism-card aos-init aos-animate" data-aos="zoom-in-right" href="https://meet.google.com/kyx-saaj-pua" target="_blank" rel="noreferrer">Ciencias Sociales</a>
                </div>
            </div>
          </div>
        </li>

        <li>
          <div class="direction-r">
            <div class="flag-wrapper">
              <span class="hexagon"></span>
              <span class="flag neumorphism-button aos-init aos-animate" data-aos="zoom-in-left">
                <a target="_blank" rel="noreferrer">
                  <span>Martes</span>
                </a>
            </span></div>
            <div class="desc neumorphism-card aos-init aos-animate" data-aos="zoom-in-left">
              85% C4p4c!ty
                <div class="tag-wrapper">
                    <a class="tag neumorphism-card aos-init aos-animate" data-aos="zoom-in-right" href="https://ldyan3r.github.io/meeting_links/404" target="_blank" rel="noreferrer">Psicología</a>
                    <a class="tag neumorphism-card aos-init aos-animate" data-aos="zoom-in-right" href="https://ldyan3r.github.io/meeting_links/404" target="_blank" rel="noreferrer">Educación Física</a>
                    <a class="tag neumorphism-card aos-init aos-animate" data-aos="zoom-in-right" href="https://meet.google.com/kyx-saaj-pua" target="_blank" rel="noreferrer">Ciencias Sociales</a>
                    <a class="tag neumorphism-card aos-init aos-animate" data-aos="zoom-in-right" href="https://us04web.zoom.us/j/2128085368?pwd=YWx4bzV3RUI5Ykcyb2w1WkpXRDFwZz09" target="_blank" rel="noreferrer">Lenguaje</a>
                </div>
            </div>
          </div>
        </li>

        <li>
          <div class="direction-l">
            <div class="flag-wrapper">
              <span class="hexagon"></span>
              <span class="flag neumorphism-button aos-init aos-animate" data-aos="zoom-in-right">
                <a target="_blank" rel="noreferrer">
                  <span>Miércoles</span>
                </a>
            </span></div>
            <div class="desc neumorphism-card aos-init aos-animate" data-aos="zoom-in-right">
              70% C4p4c!ty
              <div class="tag-wrapper">
                  <a class="tag neumorphism-card aos-init aos-animate" data-aos="zoom-in-right" href="https://us04web.zoom.us/j/4642747208?pwd=bk5WMkhiQ2lQc1lZNWkxRFQxZUxVdz09" target="_blank" rel="noreferrer">Técnica Tecnológica General</a>
                  <a class="tag neumorphism-card aos-init aos-animate" data-aos="zoom-in-right" href="https://ldyan3r.github.io/meeting_links/404" target="_blank" rel="noreferrer">Artes Plásticas</a>
                  <a class="tag neumorphism-card aos-init aos-animate" data-aos="zoom-in-right" href="https://meet.google.com/bpj-hqnc-mfi" target="_blank" rel="noreferrer">Ciencias Naturales</a>
                </div>
            </div>
          </div>
        </li>

        <li>
          <div class="direction-r">
            <div class="flag-wrapper">
              <span class="hexagon"></span>
              <span class="flag neumorphism-button aos-init aos-animate" data-aos="zoom-in-left">
                <a target="_blank" rel="noreferrer">
                  <span>Jueves</span>
                </a>
            </span></div>
            <div class="desc neumorphism-card aos-init aos-animate" data-aos="zoom-in-left">
              55% C4p4c!ty
                <div class="tag-wrapper">
                    <a class="tag neumorphism-card aos-init aos-animate" data-aos="zoom-in-right" href="https://ldyan3r.github.io/meeting_links/404" target="_blank" rel="noreferrer">Matemáticas</a>
                    <a class="tag neumorphism-card aos-init aos-animate" data-aos="zoom-in-right" href="https://us04web.zoom.us/j/4642747208?pwd=bk5WMkhiQ2lQc1lZNWkxRFQxZUxVdz09" target="_blank" rel="noreferrer">Técnica Tecnológica General</a>
                    <a class="tag neumorphism-card aos-init aos-animate" data-aos="zoom-in-right" href="https://us04web.zoom.us/j/2128085368?pwd=YWx4bzV3RUI5Ykcyb2w1WkpXRDFwZz09" target="_blank" rel="noreferrer">Lenguaje</a>
                </div>
            </div>
          </div>
        </li>

        <li>
          <div class="direction-l">
            <div class="flag-wrapper">
              <span class="hexagon"></span>
              <span class="flag neumorphism-button aos-init aos-animate" data-aos="zoom-in-right">
                <a target="_blank" rel="noreferrer">
                  <span>Viernes</span>
                </a>
            </span></div>
            <div class="desc neumorphism-card aos-init aos-animate" data-aos="zoom-in-right">
              40% C4p4c!ty
              <div class="tag-wrapper">
                  <a class="tag neumorphism-card aos-init aos-animate" data-aos="zoom-in-right" href="https://meet.google.com/bpj-hqnc-mfi" target="_blank" rel="noreferrer">Ciencias Naturales</a>
                  <a class="tag neumorphism-card aos-init aos-animate" data-aos="zoom-in-right" href="https://ldyan3r.github.io/meeting_links/404" target="_blank" rel="noreferrer">Matemáticas</a>
                  <a class="tag neumorphism-card aos-init aos-animate" data-aos="zoom-in-right" href="https://meet.google.com/xba-mtrv-brx" target="_blank" rel="noreferrer">Religión</a>
                </div>
            </div>
          </div>
        </li>
  </ul>
</div>
      </section>
